header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.dark {
  background-color: black;
  color: white;
}
